@model MusicForNow.Models.Artist

<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <dl class="dl-horizontal">
            <dt>
                <b>@Html.DisplayNameFor(model => model.Name)</b>
            </dt>

            <dd>
                <b>@Html.DisplayFor(model => model.Name)</b>
            </dd>

            <dt>
                <b>@Html.DisplayNameFor(model => model.Age)</b>
            </dt>

            <dd>
                <b>@Html.DisplayFor(model => model.Age)</b>
            </dd>

            <dt>
                <b>@Html.DisplayNameFor(model => model.AlbumTitles)</b>
            </dt>

            <dd>
                <b>@Html.DisplayFor(model => model.AlbumTitles)</b>
            </dd>

        </dl>
    </div>


    <div class="col-lg-6 col-md-6 col-sm-6">
        @{
            string imreBase64Data = Convert.ToBase64String(Model.Image);
            string imgDataURL = string.Format("data:image/png;base64,{0}", imreBase64Data);
        }
        <img src="@imgDataURL" alt="Avatar" style="width:100%">
        <br />
        <br />
    </div>
    @if (User.IsInRole("Admin"))
    {
        <p class="left">
            <a class="btn btn-danger left" href="@Url.Action("Edit", new { id = Model.ID })"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
            <a class="btn btn-danger left" href="@Url.Action("Delete", new { id = Model.ID })"><span class="glyphicon glyphicon-trash"></span> Delete</a>
            <a class="btn btn-danger left" href="@Url.Action("Index", "Songs", new { SingerID = Model.ID })"><span class="glyphicon glyphicon-music"></span> Songs</a>
        </p>
    }
    else
    {
        <p class="left">
            <a class="btn btn-danger left" href="@Url.Action("Index", "Songs", new { SingerID = Model.ID })"><span class="glyphicon glyphicon-music"></span> Songs</a>
        </p>
    }

</div>
